img, p{
    cursor: pointer;
}

.charInfo p, .charMap p {
    display: inline-block;
}

body{
    background-image: url("../images/charityBackground.jpg");
    background-size:2000px;
    background-repeat: no-repeat;
    background-position-x:center;
    background-attachment: fixed;
}

#mapid { height: 180px; }

#box1{
    /*border:1px solid black;*/
    width:600px;
    margin:auto;
}

.logo{
    height:300px;
    margin:0px 0px 0px 40px;
}

.search{
    margin:0px 0px 0px 250px;
}

<<<<<<< HEAD
.card-header{
    font-size: 14, bold;
     background: rgba(244, 244, 244, 0.3);
    
}

.card-body{
    background-color: rgba(0, 0, 255, 0.3);
}
=======
.newsearch {
    float: right;
}

.invis {
    display: none;
}

.show {
    display: block;
}

.charMap{
    width: 30%;
}

@media screen and (max-width: 600px){
    .charMap {
        display: none;
    };
};
>>>>>>> 60c97f8ccb39505e7543055c5f2ac85062b51f49
